{% extends 'base.html' %}

{% load widget_tweaks %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/daterangepicker.min.css' %}">
<link rel="stylesheet" href="{% static 'css/awesomplete.css' %}">
<link rel="stylesheet" href="{% static 'css/selectize.css' %}">
<link rel="stylesheet" href="{% static 'css/plans.css' %}">
{% endblock %}

{% block title %}New Plan{% endblock %}

{% block content %}
<div class="breadcrumbs">
  <a href="#" class="step active">Campaign Info<span></span></a>
  <a href="/plans/media-plans/{{plan.pk}}/designs" class="step">Designs<span></span></a>
  <a href="#" class="step">Media Plan<span></span></a>
</div>
<div class="main-content">
  <div class="form edit-form new-plan">
    <form method="post" class="form" novalidate>
      {% csrf_token %}

      {% if form.non_field_errors %}
      <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
          <p{% if forloop.last %} class="mb-0" {% endif %}>{{ error }}</p>
        {% endfor %}
      </div>
      {% endif %}

      <div class="form-input input-field {% if form.name.errors %}invalid{% endif %}">
        {{ form.name.label_tag }}
        {% render_field form.name type="text" %}

        {% for error in form.name.errors %}
          <div class="invalid-feedback err-msg">
            {{ error }}
          </div> 
        {% endfor %}
      </div>

      <div class="form-input input-field {% if form.client.errors %}invalid{% endif %}">
        {{ form.client.label_tag }}
        <div class="client-wrapper">
          <div class="hidden">
            {% render_field form.client class="client-select" %}
          </div>
          <input class="client-awesome" value="{% for value, text in form.client.field.choices %}{% if value == form.client.value %}{{ text }}{% endif %}{% endfor %}" />
        </div>

        {% for error in form.client.errors %}
          <div class="invalid-feedback err-msg">
            {{ error }}
          </div> 
        {% endfor %}
      </div>

      <div class="form-input input-field {% if form.budget.errors %}invalid{% endif %}">
        {{ form.budget.label_tag }}
        {% render_field form.budget type="number" class="has-inner" %}
        <label class="inner-label">$</label>

        {% for error in form.budget.errors %}
          <div class="invalid-feedback err-msg">
            {{ error }}
          </div> 
        {% endfor %}
      </div>

      <div class="line-wrapper">
        <div class="form-input input-field {% if form.startDate.errors %}invalid{% endif %}">
          {{ form.startDate.label_tag }}
          {% render_field form.startDate class="date-picker start" %}

          {% for error in form.startDate.errors %}
            <div class="invalid-feedback err-msg">
              {{ error }}
            </div> 
          {% endfor %}
        </div>
        <div class="line-spacer"></div>
        <div class="form-input input-field {% if form.endDate.errors %}invalid{% endif %}">
          {{ form.endDate.label_tag }}
          {% render_field form.endDate class="date-picker end" %}

          {% for error in form.endDate.errors %}
            <div class="invalid-feedback err-msg">
              {{ error }}
            </div> 
          {% endfor %}
        </div>
      </div>


      <div class="form-input input-field">
          {{ form.audience.label_tag }}
        <div class="group-table-wrapper">
          <div class="hidden">
            {% render_field form.audience class="target-multi" %}
          </div>
          <div class="group-single">
            <ul class="groups-wrapper">
            </ul>
            <input class="audience-awesome" value="" />
          </div>
        </div>
      </div>

      <div class="form-input input-field {% if form.designer.errors %}invalid{% endif %}">
        {{ form.designer.label_tag }}
        {% render_field form.designer %}

        {% for error in form.designer.errors %}
          <div class="invalid-feedback err-msg">
            {{ error }}
          </div> 
        {% endfor %}
      </div>
      
    </form>

  </div>
  <div class="sidebar">
    <div class="details card">
      <h3></h3>
      <p class="client"></p>
      <p class="date">{{date|date:"F j, Y"}}</p>
      <p class="starter">John Doe</p>
    </div>
    <button class="button" id="continue">Continue</button>
  </div>
</div>
{% endblock %}

{% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="{% static 'js/awesomplete.min.js' %}"></script>
    <script src="{% static 'js/jquery.daterangepicker.js' %}"></script>
    <script src="{% static 'js/selectize.min.js' %}"></script>
    <script>
        $(document).ready(function() {
          // Campaign Name
          $('#id_name').change(function(){
            $('.details.card h3').text($(this).val())
          })
          // Client
          var clients = [];
          {% for client in clients %}
            clients.push('{{ client.name }}');
          {% endfor %}

          var item = $('.client-awesome')[0];
          var awe = new Awesomplete(item, {list: clients,
                replace: function(text) {
                    $('.client-select option').filter(function () { return $(this).html() == text; }).attr('selected', 'selected');
                    $('.details.card .client').text(text);
                    this.input.value = text;
                }
          });

          // Date Picker
          $('.date-picker').focus(function(e){
            $('.date-picker').data('dateRangePicker').close()
            $(this).data('dateRangePicker').open()
          })

          $('.date-picker.end').dateRangePicker({
            autoClose: true,
            singleDate: true,
            format: 'YYYY-MM-DD',    
            showShortcuts: false,
            singleMonth: true,
            showTopbar: false
          })

          var startPicker = $('.date-picker.start').dateRangePicker({
            autoClose: true,
            singleDate: true,
            format: 'YYYY-MM-DD',    
            showShortcuts: false,
            singleMonth: true,
            showTopbar: false
          }).bind('datepicker-change', function(ev, picker){
            $('.date-picker.end').data('dateRangePicker').destroy()

            $('.date-picker.end').dateRangePicker({
              autoClose: true,
              singleDate: true,
              format: 'YYYY-MM-DD',    
              showShortcuts: false,
              singleMonth: true,
              showTopbar: false,
              startDate: picker.value
            })

            $('.date-picker.end').data('dateRangePicker').open()
            console.log(picker.value)
          });

            /* Target Groups */
            var groups = [];
            {% for group in groups %}
                groups.push({value: '{{ group.name }}', label: '{{ group.name }}', pk: '{{ group.pk }}'})
            {% endfor %}

            var item = $('.group-table-wrapper .audience-awesome')[0];
            var list = [];

            var awe = new Awesomplete(item, {
                list: groups,
                filter: function(text, input) {
                    var match = Awesomplete.FILTER_CONTAINS(text, input.match(/[^,]*$/)[0]);

                    var listIndex = list.indexOf(text.label);
                    if (listIndex > -1) {
                        return false;
                    } 

                    var values = input.split(",");
                    $.each(values, function(index, value){
                        if(text.label == value){
                            return false
                        }
                    })
                    return match;
                },

                item: function(text, input) {
                    return Awesomplete.ITEM(text, input.match(/[^,]*$/)[0]);
                },

                replace: function(text) {
                    list.push(text.label);
                    $('.groups-wrapper').append('<li class="group"><a href="#">x</a><span>' + text + '</span></li>');
                    $('.target-multi option').filter(function () { return $(this).html() == text; }).attr('selected', 'selected');
                }
            });
            Awesomplete.$.bind(item, { "awesomplete-open":function(event) {
              $('.awe').removeClass('active');
              $(item).closest('.form-input').addClass('active');
            }});

            $('.groups-wrapper').on('click', '.group a', (function(e){
                e.preventDefault();

                var item = $(this).siblings('span').text();
                var index = list.indexOf(item);
                list.splice(index, 1);

                $(this).parent('li').remove();
                $('.target-multi option').filter(function () { return $(this).html() == item; }).removeAttr('selected');
            }));

            /* Submit Form */
            $('#continue').click(function(e){
                e.preventDefault();

                var data = new FormData($('form')[0]);
                data.append('starter', 'John Doe');
                
                $.ajax({
                    type: 'POST',
                    url: window.location.href,
                    data: data,
                    contentType: false,
                    processData: false,
                }).done(function(data) {
                  console.log(data);
                    if(data.code == "200") {
                        window.location.href = "/plans/media-plans/" + data.plan + "/designs"
                    } else if(data.code == "300"){
                      $('.invalid-feedback').remove();
                      $('.form-input').removeClass('invalid');
                      $.each(data.errors, function(key, value){
                        var el = $('#id_' + key);
                        el.closest('.form-input').addClass('invalid');
                        el.closest('.form-input').append('<div class="invalid-feedback">' + value + '</div>');
                      })
                    }
                });

            })
            
        });
    </script>
{% endblock %}
