{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
{% endblock %}

{% block title %}Instructions{% endblock %}

{% block content %}
<div class="main-content">
  <div class="card">
    Hey. Welcome to our Media Planning Software. It aims to be as self explanatory as possible, so if you don't understand something, mark it as a bug. Some features are still not working and some images are missing. Please help me find anything to improve.
    Thanks, 
    Esty
  </div>
  <div class="steps">
    <p>The following you should be able to do:</p>
    <ul>
      <li>1. Create / Edit / Delete Publications</li>
      <li>2. Create / Edit / Delete Clients</li>
      <li>3. Create / Edit / Delete Target Groups</li>
      <li>4. Create / Edit / Delete Media Plan</li>
      <li>5. Download Media Plan for Client, Designer, Publication</li>
      <li>6. Mark Media Plan status</li>
      <li>7. Designer upload (wip)</li>
    </ul> 
  </div>
</div>
{% endblock %}

{% block javascript %}
    <script>

    </script>
{% endblock %}
