{% extends 'base.html' %}

{% load widget_tweaks %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/awesomplete.css' %}">
<link rel="stylesheet" href="{% static 'css/selectize.css' %}">
<link rel="stylesheet" href="{% static 'css/target-groups.css' %}">
{% endblock %}

{% block title %}New Target Group{% endblock %}

{% block content %}
<div class="form edit-form {%if form.errors %}error{% endif %}">
  <form method="post" novalidate>
    {% csrf_token %}

    {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
      {% for error in form.non_field_errors %}
        <p{% if forloop.last %} class="mb-0" {% endif %}>{{ error }}</p>
      {% endfor %}
    </div>
    {% endif %}

    <div class="form-input input-field {% if form.name.errors %}invalid{% endif %}">
      {{ form.name.label_tag }}
      {% render_field form.name type="text" %}

      {% for error in form.name.errors %}
        <div class="invalid-feedback err-msg">
          {{ error }}
        </div> 
      {% endfor %}
    </div>

    <div class="form-input input-field">
        {{ form.publications.label_tag }}
      <div class="pub-table-wrapper">
          {% render_field form.publications class="selectize" %}
      </div>

      {% for error in form.publications.errors %}
        <div class="invalid-feedback err-msg">
          {{ error }}
        </div> 
      {% endfor %}
    </div>

    <div class="buttons-wrapper">
      <button class="button" id="save-group" type="submit">Save Target Group</button>
    </div>
  </form>

</div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/awesomplete.min.js' %}"></script>
    <script src="{% static 'js/selectize.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('.selectize').selectize();
        })
    </script>
{% endblock %}ß
