{% extends 'base.html' %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/target-groups.css' %}">
{% endblock %}

{% block title %}{{ group.name }}{% endblock %}

{% block content %}
<div class="top-wrapper">
    <div class="searchbar">
      <input type="text" class="searchbar-input" placeholder="Search" />
      <a href="#" class="search-button"><i class="fas fa-search"></i></a>
    </div> 
    <div class="buttons-wrapper">
      <a href="{{ group.pk }}/edit" class="button">Edit Target Group</a>
    </div>
</div>

<div class="table striped-table main-table">
  <table id="pubs-table">
    <tbody>
    </tbody>
  </table>
</div>
{% endblock %}

{% block javascript %}
    <script src="http://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {

            var data = [];
            {% for pub in group.publications.all %}
                data.push([{{ pub.pk }}, '{{ pub.name }}']);
            {% endfor %}
            console.log(data);

            var table = $('#pubs-table').DataTable({
                data: data,
                columnDefs: [
                    {
                        render: function(data, type, row) {
                            console.log(data);
                            return '<a href="../publications/' + data + '">' + row[1] + '</a>';
                        },
                        targets: 0
                    },
                    { visible: false, targets: [1] }
                ],
                dom: '<"top"<"clear">>t<"bottom" p <"clear">>',
                pageLength: 10
            });

            $('.searchbar-input').on('keyup change', function() {
                table.search(this.value).draw();
            })
        })
    </script>
{% endblock %}
